<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta charset="UTF-8">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Acceder</title>
    <!--Stylesheet-->
    <link href="{% static 'css/registration.css'%}" rel="stylesheet" />
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    
</head>
<body>  
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    
    <form class="user" method="post">
        {% csrf_token %}
        <h3>Iniciar Sesión</h3>
        <label for="username">Nombre de Usuario</label>
        <input type="text" placeholder="Telefono o usuario" id="username" name="username">

        <label for="password">Contraseña</label>
        <input type="password" placeholder="Password" id="password" name="password">

        <button type="submit">Acceder</button>
        <br> </br>
        <a class="user" href="/registro" > No tengo cuenta</a>

        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
</body>
</html>
